footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
  background: var(--sec-bg-color);
  box-shadow: 0 calc(-1 * var(--shadow-dir)) var(--shadow-length) var(--shadow-color);
  padding: 5px;
  z-index: 3;

  .logo {
    display: flex;
    width: 50px;
    height: 100%;

    .image {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: rotate(-25deg);
    }
  }
}
