:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-gradient: repeating-linear-gradient(
      45deg,
      rgb(162, 162, 162) 25%,
      rgb(162, 162, 162) 50%,
      rgb(197, 197, 197) 50%,
      rgb(197, 197, 197) 75%
    )
    0 0 / 5px 7px;

  --main-bg-color: #ffffff;
  --sec-bg-color: #727272;
  --highlight-bg-color: #be7125;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-gradient: repeating-linear-gradient(
        45deg,
        rgb(14, 13, 14) 25%,
        rgb(14, 13, 14) 50%,
        rgb(23, 24, 25) 50%,
        rgb(23, 24, 25) 75%
      )
      0 0 / 5px 7px;

    --main-bg-color: #000000;
    --sec-bg-color: #292929;
    --highlight-bg-color: #7e4409;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

input,
select {
  padding: 10px;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.button {
  padding: 10px;
  background: var(--highlight-bg-color);
  text-align: center;
  box-shadow: 1px 3px 4px #000;

  &.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.error {
  color: #e83c3c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input,
  button {
    padding: 10px;
  }

  .button-group {
    gap: 10px;

    .register-button {
      flex-grow: 1;
    }

    .login-link {
      flex-grow: 0.3;
      text-align: right;
    }
  }
}

.icon-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
