:root {
  --sidebar-width: 275px;
  --topbar-height: 75px;
  --footer-height: 50px;
  --shadow-dir: 3px;
  --shadow-length: 15px;
  --shadow-color: #313131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: #000000;
  }
}

.root-container {
  display: flex;
  flex-direction: column;

  * {
    transition: all 0.3s ease-in-out;
  }

  .root-content {
    margin-top: var(--topbar-height);
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: calc(100vh - var(--topbar-height) - var(--footer-height));

    .content {
      padding: 10px;
      box-shadow: calc(-1 * var(--shadow-dir)) 0 var(--shadow-length) var(--shadow-color);
      //width: calc(100vw - var(--sidebar-width));
      width: 100%;
      padding-bottom: calc(var(--footer-height) + 20px);
      z-index: 1;
    }
  }
}

@media screen and (max-width: 992px) {
  .root-container {
    .root-content {
      .content {
        padding-top: 70px;
        min-width: 100%;
      }
    }
  }
}
