.handler {
  position: fixed;
  top: calc(var(--topbar-height) + 20px);
  z-index: 10;
  font-size: 18pt;
  background: var(--sec-bg-color);
  padding: 10px;
  opacity: 0;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.sidebar {
  position: relative;
  padding-top: 40px;

  min-width: var(--sidebar-width);
  background: var(--sec-bg-color);

  .sidebar-content {
    width: calc(var(--sidebar-width) - 2.6px);
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 40px;

    button {
      width: 100%;
      z-index: -1;
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        padding: 20px;
        font-size: 14pt;

        &:hover,
        &.active {
          background: #000;
          padding-left: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .handler {
    opacity: 1;

    &.left {
      &.active {
        transform: translateX(calc(var(--sidebar-width) - 3px));
      }
    }

    &.right {
      &.active {
        transform: translateX(calc(-1 * var(--sidebar-width) + 3px));
      }
    }
  }

  .sidebar {
    &.right {
      &.active {
        transform: translateX(calc(-1 * var(--sidebar-width) + 1px));
      }
      z-index: 2;
    }

    &.left {
      &:not(.active) {
        transform: translateX(calc(-1 * var(--sidebar-width) + 1px));
        min-width: 0;
      }
    }
  }
}
