.topbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--topbar-height);
  width: 100%;
  background: var(--sec-bg-color);
  padding: 10px 20px 10px 10px;
  box-shadow: 0 var(--shadow-dir) var(--shadow-length) var(--shadow-color);
  z-index: 10;

  .topbar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      display: flex;
      width: 75px;
      height: 100%;
      transition: all 0.3s ease-in-out;

      .image {
        position: relative;
        height: 100%;
        width: 100%;
      }

      &:hover {
        transform: rotate(-25deg);
      }
    }

    .hamburger {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;

    a {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  .right {
    display: flex;
    gap: 10px;

    .user-menu {
      .button {
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .topbar {
    flex-direction: column;
    z-index: 20;

    &:has(.open) {
      height: 100vh;

      nav,
      .right {
        height: auto;
        opacity: 1;
      }
    }

    nav,
    .right {
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    .topbar-head {
      width: 100%;
      height: var(--topbar-height);

      .hamburger {
        position: relative;
        display: block;
        font-size: 18pt;

        .toggle {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 100;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    }

    nav {
      flex-direction: column;
      gap: 40px;

      a {
        font-size: 20pt;
      }
    }
  }
}
