.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .button {
    &.active {
      background: #b4610b;
    }

    &.disabled {
      pointer-events: none;
      background: #473f38;
    }
  }
}
