.registerpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--footer-height) - var(--topbar-height));

  .registerpage-content {
    background: var(--sec-bg-color);
    box-shadow: 0 0 15px var(--shadow-color);
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
  }
}
