.admin-page-container {
  .admin-page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 1fr);
    gap: 40px;

    .edit-form {
      padding: 10px 20px;
      background: rgba(41, 41, 41, 0.85);
      border-radius: 5px;

      input,
      select,
      button {
        padding: 15px;
        font-size: 14pt;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .admin-page-container {
    .admin-page-content {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      row-gap: 40px;
    }
  }
}
