.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  background: var(--sec-bg-color);
  color: var(--foreground-rgb);
  min-width: 500px;
  min-height: 200px;
  overflow: auto;
  box-shadow: 0 0 15px var(--shadow-color);
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .modal {
    min-width: auto;
  }
}
