.register-form {
  .heading {
    h2 {
      margin-bottom: 20px;
    }
  }

  input {
    &.error {
      border: 1px solid red;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
